<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only | https://getbootstrap.com/docs/4.1/components/forms/ -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- <link href="../../static/forms.css" type="text/css"  ref="stylesheet"> -->
  <title>
    {% block title %}
      Inventory Tracker
    {% endblock %}
  </title>
</head>
<body>
  {% block nav %}

  {% endblock %}
  <div id="content" name=content>
    {% block content %}

    {% endblock %}
  </div>
</body>
</html>
