{% extends 'main/base.html' %}
<!-- https://getbootstrap.com/docs/4.1/components/list-group/ -->
{% block title %} Home {% endblock %}

{% block nav %}
<nav class="nav nav-pills nav-fill container" style="display: grid; margin-bottom: 5%;">
    <!-- <a class="nav-item nav-link active col" href="#" style="">Add Product</a> -->
    <a class="nav-item nav-link active col" href="/login" style="justify-self: flex-end;">Logout</a>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for data in dataset %}
      <tr>
        <th scope="row">{{ data.id }}</th>
        <td>{{ data.item_name }}</td>
        <td>{{ data.item_quantity }}</td>
        <td>{{ data.status }}</td>
        <td>
          <a class="btn btn-secondary" method="GET" href="/update/{{data.id}}">Edit</a>
          |
          <a class="btn btn-secondary" method="DELETE" href="/delete/{{data.id}}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-primary" method="GET" href="/create">Create New Product</a>
</div>
  {% endblock %}
