<!-- https://docs.djangoproject.com/en/3.1/topics/auth/customizing/ -->
<!-- https://getbootstrap.com/docs/4.1/components/forms/ -->
{% extends 'main/base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<form style="display: grid; justify-content: center; margin: 15%;">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="exampleInputText1">First Name</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputText1"
          aria-describedby="textHelp"
          placeholder="First Name"
          required
        />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="exampleInputText1">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputText1"
          aria-describedby="textHelp"
          placeholder="Last Name"
          required
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      required
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Password"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/login"><small>Have an account? Login Here!</small></a>
</form>
{% endblock %}
